#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

ul {
    list-style: none;
    font-size: 30px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    box-shadow: 3px 1px 5px 2px;
}

p {
    font-size: 22px;
}

.user {
    border: 1px solid black;
    border-radius: 20px;
}

.user:hover {
    color: red
}